@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Courgette&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

main {
  padding: 150px; }

.contMain {
  padding: 70px; }
  .contMain h1 {
    margin-bottom: 20px; }

.caja {
  display: flex; }

html {
  position: relative;
  min-height: 100%; }

body {
  font-family: 'Barlow', sans-serif;
  background-color: #caa1ff; }

header {
  background-color: black;
  padding: 30px; }

#navbarNav .navbar-nav li {
  border-bottom: 2px solid transparent; }
  #navbarNav .navbar-nav li a {
    font-size: 22px;
    padding: 25px; }

#navbarNav .navbar-nav li:hover {
  border-bottom: 2px solid white; }
  #navbarNav .navbar-nav li:hover a {
    font-weight: 800; }

.logo {
  height: 100px; }

.bg-dark {
  background-color: black; }

.boton {
  background-color: lightblue;
  color: black;
  border-radius: 10px black; }

header nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end; }

.bg-dark {
  background-color: black !important; }

.navbar-collapse {
  justify-content: flex-end; }

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: black;
  color: white;
  font-size: 20px;
  justify-content: center;
  padding: 60px 20px; }
  footer p {
    margin-top: 20px; }

.redes {
  display: flex;
  list-style-type: none;
  margin: 10px;
  gap: 20px;
  justify-content: center;
  padding: 0; }

.btnWhatsapp {
  position: fixed;
  bottom: 117px;
  right: 30px; }

.mainT {
  text-align: center;
  font-size: 75px;
  margin-bottom: 30px;
  color: black; }

.mainD {
  text-align: center;
  font-size: 65px; }

.secundaryFont {
  font-family: 'Courgette', cursive; }

.contMain .titulo {
  color: black;
  text-align: center;
  font-size: 80px;
  padding-top: 10px;
  margin-right: 40px;
  margin-bottom: 60px; }

.textos {
  display: flex;
  font-weight: 500; }

.parrafo {
  text-align: justify;
  padding: 10px;
  width: 50%; }

.caja {
  color: black;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 50%;
  align-items: flex-start;
  gap: 30px;
  padding: 40px; }

.cuerpo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto; }
  .cuerpo img {
    width: 200px; }
  .cuerpo.proyecto {
    width: 80%;
    max-width: 900px;
    padding: 50px;
    gap: 30px; }

.tituloP {
  text-align: center;
  font-size: 80px; }

.imag {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  gap: 30px; }

.tituloC {
  text-align: center;
  font-size: 80px; }

.presentacion {
  text-align: center;
  font-size: 30px;
  margin: 50px; }

.progr {
  display: grid;
  grid-template-columns: 150px 150px;
  grid-template-rows: 150px 200px;
  row-gap: 70px;
  column-gap: 50px;
  margin-bottom: 80px;
  list-style-type: none;
  justify-content: center; }

.tituloC {
  text-align: center;
  font-size: 80px; }

.formulario {
  width: 400px;
  padding: 30px;
  margin: auto;
  margin-top: 50px; }

textarea {
  padding: 5px;
  border-radius: 10px; }

input[type="text"], input[type="email"] {
  padding: 5px;
  border-radius: 10px; }

.nombreInput, .apellidoInput {
  width: 250px;
  font-weight: 800;
  margin-bottom: 10px; }

.emailInput {
  width: 250px;
  margin-left: 14px;
  font-weight: 800;
  margin-bottom: 10px; }

.comentariosInput {
  width: 327px;
  height: 100px;
  margin-bottom: 10px; }

.btnFormulario {
  margin-top: 50px; }

.nomb, .mail, .ape, .mensaje, .cont {
  font-weight: bold; }

/* VERSION TABLET*/
/* MEDIA QUERIES*/
@media only screen and (max-width: 768px) {
  /*SECCION INICIO*/
  main {
    padding-top: 50px;
    padding-bottom: 2.5rem; }
  .mainT {
    text-align: center;
    font-size: 55px; }
  .mainD {
    text-align: center;
    font-size: 45px; }
  .cuerpo {
    flex-direction: column;
    width: 100%; }
    .cuerpo .caja {
      width: 100%;
      margin: 0; }
  footer {
    text-align: center; }
  .btnWhatsapp {
    width: 45px;
    height: 45px;
    bottom: 127px;
    right: 15px; }
  /* SECCION SOBRE MI */
  .cuerpo {
    flex-wrap: wrap; }
    .cuerpo.proyecto {
      flex-direction: row; }
  /*CONOCIMIENTOS*/
  .tecnologias {
    width: 100%; }
  .progr {
    grid-template-columns: 300px;
    grid-template-rows: 300px 300px 300px 300px;
    row-gap: 10px;
    column-gap: 10px; } }

/* VERSION MOBILE*/
@media only screen and (max-width: 420px) {
  .boton {
    font-size: 20px;
    margin: 10px;
    line-height: 20px; }
  .progr {
    justify-content: flex-start;
    gap: 30px; }
  .contenedorBody {
    padding: 15px; }
  .contFlex {
    display: flex; }
  .contenedor {
    width: 100%; }
  .tituloC {
    font-size: 55px; }
  .logo {
    width: 200px; }
  .menu ul {
    flex-direction: column;
    font-size: 50%;
    text-align: center; }
  main {
    padding: 40px 20px; }
  .contMain {
    padding: 33px; }
  .cuerpo {
    flex-direction: column; }
    .cuerpo .caja {
      flex-direction: column;
      align-items: center; }
      .cuerpo .caja p {
        width: 100%; }
  .redes {
    padding: 20px; }
  footer {
    padding: 40px; }
    footer p {
      margin-top: 0;
      line-height: 2; }
  .btnWhatsapp {
    position: fixed;
    bottom: 202px;
    right: 46px; } }
