*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    padding: 150px;
}

.contMain{
  padding: 70px;
  h1{
    margin-bottom: 20px;
  }
}

.caja{
  display: flex;
}

html {
    position: relative;
    min-height: 100%;
}

body{
    font-family: 'Barlow', sans-serif;
    background-color: $backColorBody;
}

header{
    background-color: $fondoColor;
    padding: 30px;
}

#navbarNav {
  .navbar-nav{
    li{
      border-bottom: 2px solid transparent;
      a{
        font-size: 22px;
        padding:25px;
      }
    }
    li:hover{
      border-bottom: 2px solid white;
      a{
        font-weight: 800;
      }
    }
  }
}

.logo{
    height: 100px;
}

.bg-dark{
    background-color: black;
}


.boton{
        background-color: lightblue;
        color: black;
        
        border-radius: 10px black;
      }

header nav ul{
        list-style: none;
        display: flex;
        justify-content: flex-end;
      }

.bg-dark{
  background-color: black !important;
}

.navbar-collapse{
  justify-content: flex-end;
}

footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: black;
  color: white;
  font-size: 20px;
  justify-content:center;
  padding: 60px 20px;
  p{
    margin-top:20px;
  }
}

.redes{
    display: flex;
    list-style-type: none;
    margin: 10px;
    gap: 20px;
    justify-content: center;
    padding: 0;
  }


.btnWhatsapp{
    position: fixed;
    bottom: 117px;
    right: 30px;
  }