$colorA: violeta;

body{
    @if ($colorA ==violeta){
        background-color: #b983ff;

        }
    @else{
        background-color: lightblue;

        }

}

@mixin cajaDeTexto{
    text-align: justify;
    padding: 10px;
}


.parrafo {
    @include cajaDeTexto();
    font-size: $tamanoLetra;
    font-weight: $estiloLetra;
    border: 5px solid black;

}